<div class="flex flex-col gap-4">

  <!-- Controles Ranking -->
  <div class="flex flex-wrap gap-2 items-end">
    <div class="flex flex-col">
      <label class="text-xs opacity-70">Buscar</label>
      <input class="px-2 py-1 border rounded min-w-[220px]"
             [(ngModel)]="search" placeholder="función o archivo…" />
    </div>

    <div class="flex flex-col">
      <label class="text-xs opacity-70">Carpeta</label>
      <select class="px-2 py-1 border rounded" [(ngModel)]="selectedDir">
        <option *ngFor="let d of dirs()" [ngValue]="d">{{ d }}</option>
      </select>
    </div>

    <div class="flex flex-col">
      <label class="text-xs opacity-70">Top N</label>
      <input class="px-2 py-1 border rounded w-24" type="number" [(ngModel)]="topN" />
    </div>

    <div class="ml-auto flex gap-2">
      <button class="px-3 py-1 border rounded" (click)="exportCSV()">Exportar CSV</button>
      <button class="px-3 py-1 border rounded" (click)="exportJSON()">Exportar JSON</button>
    </div>
  </div>

  <!-- Tabla Ranking -->
  <div class="overflow-auto border rounded">
    <table class="min-w-full text-sm">
      <thead class="bg-gray-100">
        <tr>
          <th class="p-2 text-left cursor-pointer" (click)="toggleSort('func')">Función</th>
          <th class="p-2 text-left cursor-pointer" (click)="toggleSort('file')">Archivo</th>
          <th class="p-2 text-left cursor-pointer" (click)="toggleSort('dir')">Carpeta</th>
          <th class="p-2 text-right cursor-pointer" (click)="toggleSort('fanIn')">Fan-In</th>
          <th class="p-2 text-right cursor-pointer" (click)="toggleSort('fanOut')">Fan-Out</th>
          <th class="p-2 text-right cursor-pointer" (click)="toggleSort('coupling')">Coupling</th>
          <th class="p-2 text-right cursor-pointer" (click)="toggleSort('instability')">I</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of filteredSorted(); trackBy: trackRow" class="border-t">
          <td class="p-2">{{ r.func }}</td>
          <td class="p-2">{{ r.file }}</td>
          <td class="p-2">{{ r.dir }}</td>
          <td class="p-2 text-right">{{ r.fanIn }}</td>
          <td class="p-2 text-right">{{ r.fanOut }}</td>
          <td class="p-2 text-right font-medium">{{ r.coupling }}</td>
          <td class="p-2 text-right">{{ r.instability | number:'1.3-3' }}</td>
        </tr>
      </tbody>
    </table>
  </div>


<!-- function-coupling.component.html -->


<function-coupling-d3
  [data]="data"

  [width]="900"
  [padding]="100"

  >
</function-coupling-d3>

<app-function-coupling-bar-chart
  [repoId]="repoId"

  >
</app-function-coupling-bar-chart>

<app-function-coupling-graph
  [repoId]="repoId"

  >
</app-function-coupling-graph>

</div>

