:host {
  display: block;
}

.node circle {
  transition: all 0.3s ease;
  cursor: pointer;
}

.node:hover circle {
  stroke: #333;
  stroke-width: 3px;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07));
}

.enclosure circle {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.enclosure:hover circle {
  fill: #e2e8f0; /* Darker slate on hover */
  stroke: #94a3b8;
}

text {
  user-select: none;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.enclosure text {
  text-shadow: none;
}