

<div class="grid grid-cols-1 lg:grid-cols-1 gap-4">
  <div #barEl class="h-[340px] w-full"></div>

  <div class="flex items-center gap-3 mb-3">
  <label class="text-sm font-medium">Métrica treemap:</label>
  <select class="border rounded px-2 py-1"
          (change)="onModeChange(($any($event.target)).value)">
    <option value="SLOC" selected>SLOC</option>
    <option value="LOC">LOC</option>
    <option value="RATIO">SLOC/LOC (%)</option>
    <option value="COMMENTS">Comentarios</option>
  </select>
</div>
  <div #treeEl class="h-[420px] w-full"></div>
</div>

